Repository cowaine/is-my-code-that-strange, pull requests merged in 2024-08, with the labels that each got.

#126 [8주차] 8주차 공부내용 정리
  firewoody237/src/main/java/com/cowaine/firewoody237/eighth_week/fifthteen/architecture.md
  firewoody237/src/main/java/com/cowaine/firewoody237/eighth_week/fifthteen/images/image001.png
  firewoody237/src/main/java/com/cowaine/firewoody237/eighth_week/fifthteen/images/image002.png
  firewoody237/src/main/java/com/cowaine/firewoody237/eighth_week/fifthteen/images/image003.png
  firewoody237/src/main/java/com/cowaine/firewoody237/eighth_week/seventeen/keep_study_architecture.md
  firewoody237/src/main/java/com/cowaine/firewoody237/eighth_week/sixteen/architecture_huddle.md
  firewoody237/src/main/java/com/cowaine/firewoody237/eighth_week/sixteen/images/image001.png
Labels: chapter15, chapter16, chapter17

#127 feat: 15, 16장 리드미
  sunset0/src/main/java/com/cowaine/sunset0/chapter15/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter16/README.md
Labels: chapter15, chapter16, chapter17

#101 mission 1
  firewoody237/build.gradle
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/data/BankAccountCreateCommand.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/data/BankAccountVO.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/domain/BankAccount.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/domain/Currency.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/domain/Deposit.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/domain/YearlyInterestRate.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/factory/BankAccountFactory.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/infra/repository/BankAccountRepository.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/infra/repository/InMemoryBankAccountRepository.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/account/service/BankAccountService.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/application/BankApplication.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/customer/data/CustomerProfileCreateCommand.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/customer/data/CustomerProfileVO.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/customer/domain/CustomerProfile.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/customer/factory/CustomerProfileFactory.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/customer/infra/repository/CustomerProfileRepository.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/customer/infra/repository/InMemoryCustomerProfileRepository.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/customer/service/CustomerProfileService.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/ui/MainApplication.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/ui/data/CustomerBankAccountVO.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/ui/data/InputParsedResult.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/ui/printer/Input.java
  firewoody237/src/main/java/com/cowaine/firewoody237/first_mission/ui/printer/Output.java
  firewoody237/src/test/java/com/cowaine/firewoody237/first_mission/account/domain/BankAccountTest.java
  firewoody237/src/test/java/com/cowaine/firewoody237/first_mission/account/domain/DepositTest.java
  firewoody237/src/test/java/com/cowaine/firewoody237/first_mission/account/domain/YearlyInterestRateTest.java
  firewoody237/src/test/java/com/cowaine/firewoody237/first_mission/account/service/BankAccountServiceTest.java
  firewoody237/src/test/java/com/cowaine/firewoody237/first_mission/customer/service/CustomerProfileServiceTest.java
Labels: mission

#106 [Chapter 09] 곱셈 계산 마왕 코드 리팩터링
  corock/src/main/java/com/cowaine/corock/chapter09/calculator/LocationAwareOperand.java
  corock/src/main/java/com/cowaine/corock/chapter09/calculator/MultipleApplication.java
  corock/src/main/java/com/cowaine/corock/chapter09/calculator/Operand.java
  corock/src/main/java/com/cowaine/corock/chapter09/calculator/Position.java
Labels: chapter09
