Repository cowaine/is-my-code-that-strange, pull requests merged in 2024-07, with the labels that each got.

#61 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter05/game/Party.java
  corock/src/main/java/com/cowaine/corock/chapter07/Book.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/BattleManager.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/Character.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/FieldManager.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/Item.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/Member.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/MemberService.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/Party.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/SpecialEventManager.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/StateType.java
  corock/src/main/java/com/cowaine/corock/chapter07/game/States.java
  corock/src/main/java/com/cowaine/corock/chapter08/Book.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/DiscountBase.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/DiscountManager.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/DiscountPrice.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/Product.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/ProductDiscount.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/RegularDiscount.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/RegularDiscountedPrice.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/RegularPrice.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/SummerDiscount.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/SummerDiscountManager.java
  corock/src/main/java/com/cowaine/corock/chapter08/discount/SummerDiscountedPrice.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/DeliveryCharge.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/SellingCommission.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/SellingPrice.java
  corock/src/main/java/com/cowaine/corock/chapter08/domain/ShoppingPoint.java
  corock/src/main/java/com/cowaine/corock/chapter08/game/FighterPhysicalAttack.java
  corock/src/main/java/com/cowaine/corock/chapter08/game/PhysicalAttack.java
  corock/src/main/java/com/cowaine/corock/chapter08/mailing/MailMagazineService.java
  corock/src/main/java/com/cowaine/corock/chapter08/order/Order.java
  corock/src/main/java/com/cowaine/corock/chapter08/order/OrderService.java
  corock/src/main/java/com/cowaine/corock/chapter08/order/OrderState.java
  corock/src/main/java/com/cowaine/corock/chapter08/product/ProductBrowsingHistory.java
  corock/src/main/java/com/cowaine/corock/chapter08/reservation/Reservation.java
  corock/src/main/java/com/cowaine/corock/chapter08/rpg/objects/HitPointRecovery.java
  corock/src/main/java/com/cowaine/corock/chapter08/rpg/objects/Member.java
  corock/src/main/java/com/cowaine/corock/chapter08/rpg/objects/PositiveFeelings.java
  corock/src/main/java/com/cowaine/corock/chapter08/rpg/view/BattleView.java
  corock/src/main/java/com/cowaine/corock/chapter08/util/MailMagazine.java
  corock/src/main/java/com/cowaine/corock/chapter08/util/Utils.java
  corock/src/main/java/com/cowaine/corock/chapter08/util/ViewSettings.java
  corock/src/main/java/com/cowaine/corock/chapter08/view/ViewCustomizing.java
Labels: chapter07, chapter08

#62 chapter7, 8
  sunset0/src/main/java/com/cowaine/sunset0/chapter4/use_immutability_variability/StateType.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter7/Game.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter7/Member.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter7/Party.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter7/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter7/RPG.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/DiscountManager.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/Product.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/ProductDiscount.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/composition/FightPhysicalAttack.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/composition/PhysicalAttack.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/inherit/FightPhysicalAttack.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/inherit/PhysicalAttack.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/single_responsibility_class/RegularDiscountPrice.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/single_responsibility_class/RegularPrice.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/single_responsibility_class/SummerDiscountPrice.java
Labels: chapter07, chapter08

#65 Feature/snoopingh
  snoopingh/src/main/java/com/cowaine/snoopingh/chap07/Main.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap08/RegularDiscountedPrice.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap08/RegularPrice.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap08/SummerDiscountedPrice.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap08/composition/CompositionFightPhtysicalAttack.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap08/composition/FightPhysicalAttack.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap08/composition/PhysicalAttack.java
Labels: chapter07, chapter08

#69 Feature/coalong
  coalong/src/main/java/com/cowaine/coalong/chapter06/RpgGame.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/BattleManager.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/Chap7.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/FieldManager.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/Item.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/Member.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/Party.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/SpecialEventManager.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/StateType.java
Labels: chapter07, chapter08

#72 Feature/irisation23
  irisation23/src/main/java/com/cowaine/seventh/domain/Item.java
  irisation23/src/main/java/com/cowaine/seventh/one/이미_존재하는_기능을_다시_구현하지_말기.java
  irisation23/src/main/java/com/cowaine/sixth/domain/Member.java
  irisation23/src/main/java/com/cowaine/sixth/domain/MemberState.java
Labels: chapter07, chapter08

#74 Feature/0sunset0
  sunset0/src/main/java/com/cowaine/sunset0/chapter8/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/ComicManager.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/DeadCode.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/Equipment.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/EquipmentRefactor.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/Level.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/Member.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter9/ReadingPoint.java
Labels: chapter09

#76 Feature/snoopingh
  snoopingh/src/main/java/com/cowaine/snoopingh/chap09/Equipment.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap09/Level.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap09/Main.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap09/Member.java
Labels: chapter09

#81 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter09/Book.java
  corock/src/main/java/com/cowaine/corock/chapter09/customer/Customer.java
  corock/src/main/java/com/cowaine/corock/chapter09/game/Equipment.java
  corock/src/main/java/com/cowaine/corock/chapter09/game/Level.java
  corock/src/main/java/com/cowaine/corock/chapter09/game/Member.java
  corock/src/main/java/com/cowaine/corock/chapter09/order/CartEntity.java
  corock/src/main/java/com/cowaine/corock/chapter09/order/OrderDestination.java
  corock/src/main/java/com/cowaine/corock/chapter09/order/OrderEntity.java
  corock/src/main/java/com/cowaine/corock/chapter09/order/OrderManager.java
  corock/src/main/java/com/cowaine/corock/chapter09/order/OrderUseCase.java
  corock/src/main/java/com/cowaine/corock/chapter09/payment/CreditCardNumber.java
  corock/src/main/java/com/cowaine/corock/chapter09/payment/DiscountPoints.java
  corock/src/main/java/com/cowaine/corock/chapter09/payment/InvoiceAmount.java
  corock/src/main/java/com/cowaine/corock/chapter09/payment/InvoiceEntity.java
  corock/src/main/java/com/cowaine/corock/chapter09/payment/PaymentUseCase.java
  corock/src/main/java/com/cowaine/corock/chapter09/reservation/Product.java
  corock/src/main/java/com/cowaine/corock/chapter09/reservation/ProductReservationService.java
  corock/src/main/java/com/cowaine/corock/chapter09/reservation/Reservations.java
  corock/src/main/java/com/cowaine/corock/chapter09/stock/InventoryTurnoverPeriod.java
  corock/src/main/java/com/cowaine/corock/chapter09/stock/OrderAmount.java
  corock/src/main/java/com/cowaine/corock/chapter09/stock/OrderPlacementEntity.java
  corock/src/main/java/com/cowaine/corock/chapter09/stock/SafetyStockLevel.java
  corock/src/main/java/com/cowaine/corock/chapter09/stock/StockInEntity.java
  corock/src/main/java/com/cowaine/corock/chapter09/stock/StockOutEntity.java
  corock/src/main/java/com/cowaine/corock/chapter09/stock/StockUseCase.java
  corock/src/main/java/com/cowaine/corock/chapter09/webtoon/ComicManager.java
  corock/src/main/java/com/cowaine/corock/chapter09/webtoon/ReadingPoint.java
Labels: chapter09

#86 5주차 공부 내용
  firewoody237/src/main/java/com/cowaine/firewoody237/fifth_week/bad_code/multiple_calculator/FirstNumber.java
  firewoody237/src/main/java/com/cowaine/firewoody237/fifth_week/bad_code/multiple_calculator/MultipleApplication.java
  firewoody237/src/main/java/com/cowaine/firewoody237/fifth_week/bad_code/multiple_calculator/MultipleCalculator.java
  firewoody237/src/main/java/com/cowaine/firewoody237/fifth_week/bad_code/multiple_calculator/SecondNumber.java
  firewoody237/src/main/java/com/cowaine/firewoody237/fifth_week/bad_code/specification.md
  firewoody237/src/main/java/com/cowaine/firewoody237/fifth_week/nine/evil.md
  firewoody237/src/main/java/com/cowaine/firewoody237/forth_week/eight/collection.md
  firewoody237/src/main/java/com/cowaine/firewoody237/forth_week/seven/tightly_coupling.md
Labels: chapter09

#87 Feat/irisation23
  irisation23/src/main/java/com/cowaine/nineth/eight/domain/Level.java
  irisation23/src/main/java/com/cowaine/nineth/eight/설계_질서를_파괴하는_메타_프로그래밍.java
  irisation23/src/main/java/com/cowaine/nineth/five/domain/OrderManager.java
  irisation23/src/main/java/com/cowaine/nineth/five/전역_변수.java
  irisation23/src/main/java/com/cowaine/nineth/four/문자열_자료형에_대한_집착.java
  irisation23/src/main/java/com/cowaine/nineth/one/데드_코드.java
  irisation23/src/main/java/com/cowaine/nineth/seven/domain/Product.java
  irisation23/src/main/java/com/cowaine/nineth/seven/domain/Reservation.java
  irisation23/src/main/java/com/cowaine/nineth/seven/예외를_catch하고서_무시하는_코드.java
  irisation23/src/main/java/com/cowaine/nineth/six/domain/Equipment.java
  irisation23/src/main/java/com/cowaine/nineth/six/domain/Member.java
  irisation23/src/main/java/com/cowaine/nineth/six/null_문제.java
  irisation23/src/main/java/com/cowaine/nineth/three/ComicManager.java
  irisation23/src/main/java/com/cowaine/nineth/three/매직_넘버.java
Labels: chapter09

#90 [6th Weeks] 10, 11장 학습내용 정리
  firewoody237/src/main/java/com/cowaine/firewoody237/sixth_week/eleven/comment.md
  firewoody237/src/main/java/com/cowaine/firewoody237/sixth_week/ten/naming.md
Labels: chapter10, chapter11

#92 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter10/Book.java
  corock/src/main/java/com/cowaine/corock/chapter10/amount/SalesCommissionRate.java
  corock/src/main/java/com/cowaine/corock/chapter10/amount/SalesPrice.java
  corock/src/main/java/com/cowaine/corock/chapter10/amount/ServiceUsageFee.java
  corock/src/main/java/com/cowaine/corock/chapter10/common/Common.java
  corock/src/main/java/com/cowaine/corock/chapter10/common/StateType.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/Accessory.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/Armor.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/CorrectedMaxHitPoint.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/Enemy.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/Item.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/Magic.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/Member.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/MemberManager.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/OriginalMaxHitPoint.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/PartyItems.java
  corock/src/main/java/com/cowaine/corock/chapter10/game/States.java
  corock/src/main/java/com/cowaine/corock/chapter10/order/GiftPoint.java
  corock/src/main/java/com/cowaine/corock/chapter10/order/Items.java
  corock/src/main/java/com/cowaine/corock/chapter10/order/Order.java
  corock/src/main/java/com/cowaine/corock/chapter10/order/OrderId.java
  corock/src/main/java/com/cowaine/corock/chapter10/product/ProductDto.java
  corock/src/main/java/com/cowaine/corock/chapter10/product/ProductInfo.java
  corock/src/main/java/com/cowaine/corock/chapter10/rental/RentalFee.java
Labels: chapter10

#93 feat: 뱅크 애플리케이션 구현 (#91)
  corock/src/main/java/com/cowaine/corock/mission/bank/Account.java
  corock/src/main/java/com/cowaine/corock/mission/bank/Bank.java
  corock/src/main/java/com/cowaine/corock/mission/bank/BankApplication.java
  corock/src/main/java/com/cowaine/corock/mission/bank/Customer.java
  corock/src/main/java/com/cowaine/corock/mission/bank/DifferentCurrencyException.java
  corock/src/main/java/com/cowaine/corock/mission/bank/InvalidMoneyException.java
  corock/src/main/java/com/cowaine/corock/mission/bank/Money.java
Labels: mission

#97 Feature/coalong
  coalong/src/main/java/com/cowaine/coalong/chapter05/game/Armor.java
  coalong/src/main/java/com/cowaine/coalong/chapter07/StateType.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/Example.java
  coalong/src/main/java/com/cowaine/coalong/chapter09/Level.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/Enemy.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/Example.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/GiftPoint.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/Item.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/Items.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/Magic.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/MemberManager.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/Order.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/OrderId.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/PartyItems.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/Product.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/ProductDto.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/SalesCommissionRate.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/SalesPrice.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/ServiceUsageFee.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/game/Accessory.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/game/CorrectedMaxHitPoint.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/game/Member.java
  coalong/src/main/java/com/cowaine/coalong/chapter10/game/OriginalMaxHitPoint.java
  coalong/src/main/java/com/cowaine/coalong/chapter11/Book.java
  coalong/src/main/java/com/cowaine/coalong/chapter11/Face.java
  coalong/src/main/java/com/cowaine/coalong/chapter11/Member.java
  coalong/src/main/java/com/cowaine/coalong/chapter11/Money.java
  coalong/src/main/java/com/cowaine/coalong/chapter11/States.java
Labels: chapter10, chapter11

#94 10장 학습
  snoopingh/src/main/java/com/cowaine/snoopingh/chap10/GiftPoint.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap10/Items.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap10/Magic.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap10/Member.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap10/Order.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap10/OrderId.java
Labels: chapter10

#100 Feature/corock
  corock/src/main/java/com/cowaine/corock/chapter11/Book.java
  corock/src/main/java/com/cowaine/corock/chapter11/domain/Money.java
  corock/src/main/java/com/cowaine/corock/chapter11/game/Face.java
  corock/src/main/java/com/cowaine/corock/chapter11/game/Member.java
  corock/src/main/java/com/cowaine/corock/chapter11/game/StateType.java
  corock/src/main/java/com/cowaine/corock/chapter11/game/States.java
Labels: chapter11

#95 10장, 11장, 미션
  sunset0/src/main/java/com/cowaine/sunset0/chapter10/CorrectedMaxHitPoint.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter10/Magic.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter10/OriginalMaxPoint.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter10/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter10/ServiceUsageFee.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter10/Tmp.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter11/Member.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter11/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter11/States.java
  sunset0/src/main/java/com/cowaine/sunset0/chapter12/README.md
  sunset0/src/main/java/com/cowaine/sunset0/chapter4/use_immutability_variability/StateType.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/BankApplication.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/account/Account.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/account/Currency.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/account/DifferentCurrencyException.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/account/InvalidMoneyException.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/account/Money.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/account/SavingAccount.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/bank/Bank.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/customer/Customer.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/customer/CustomerAccounts.java
  sunset0/src/main/java/com/cowaine/sunset0/mission/bank/customer/InvalidAccountCountException.java
Labels: chapter10, chapter11, mission

#117 feat: 주사위 게임 추가 (#115)
  corock/src/main/java/com/cowaine/corock/chapter14/game/DiceGame.java
  corock/src/main/java/com/cowaine/corock/chapter14/game/DiceGameApplication.java
Labels: chapter12, chapter13, chapter14

#103 [chapter12-chapter14]
  coalong/src/main/java/com/cowaine/coalong/chapter12/DeliveryCharge.java
  coalong/src/main/java/com/cowaine/coalong/chapter12/DeliveryPrice.java
  coalong/src/main/java/com/cowaine/coalong/chapter12/DiscountedPrice.java
  coalong/src/main/java/com/cowaine/coalong/chapter12/Location.java
  coalong/src/main/java/com/cowaine/coalong/chapter12/Person.java
  coalong/src/main/java/com/cowaine/coalong/chapter12/PointService.java
  coalong/src/main/java/com/cowaine/coalong/chapter12/Price.java
  coalong/src/main/java/com/cowaine/coalong/chapter12/PriceService.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/Comic.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/ComicId.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/Customer.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/CustomerId.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/DeliveryCharge.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/DeliveryManager.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/Product.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/PurchasePoint.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/PurchasePointPayment.java
  coalong/src/main/java/com/cowaine/coalong/chapter14/ShoppingCart.java
  coalong/src/main/java/com/cowaine/coalong/mission/bank/Account.java
  coalong/src/main/java/com/cowaine/coalong/mission/bank/Bank.java
  coalong/src/main/java/com/cowaine/coalong/mission/bank/BankApplication.java
  coalong/src/main/java/com/cowaine/coalong/mission/bank/Currency.java
  coalong/src/main/java/com/cowaine/coalong/mission/bank/Customer.java
  coalong/src/main/java/com/cowaine/coalong/mission/bank/Money.java
  coalong/src/main/java/com/cowaine/coalong/mission/bank/OverdraftAccount.java
  coalong/src/test/java/com/cowaine/coalong/chapter14/DeliveryChargeTest.java
Labels: chapter12, chapter13, chapter14, mission

#108 [7주차] 7주차 공부내용 정리
  firewoody237/src/main/java/com/cowaine/firewoody237/seventh_week/fourteen/refactoring.md
  firewoody237/src/main/java/com/cowaine/firewoody237/seventh_week/thirteen/class_modeling.md
  firewoody237/src/main/java/com/cowaine/firewoody237/seventh_week/twelve/method.md
Labels: chapter12, chapter13, chapter14

#109 12~14장 학습
  snoopingh/build.gradle
  snoopingh/src/main/java/com/cowaine/snoopingh/chap12/Main.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap12/Price.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap14/DeliveryCharge.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap14/DeliveryChargeTest.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap14/Main.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap14/Product.java
  snoopingh/src/main/java/com/cowaine/snoopingh/chap14/ShoppingCart.java
Labels: chapter12, chapter13, chapter14

#113 Feature/chapter 12 to 14 by corock
  corock/src/main/java/com/cowaine/corock/chapter12/Book.java
  corock/src/main/java/com/cowaine/corock/chapter12/domain/DeliveryCharge.java
  corock/src/main/java/com/cowaine/corock/chapter12/domain/Location.java
  corock/src/main/java/com/cowaine/corock/chapter12/domain/Person.java
  corock/src/main/java/com/cowaine/corock/chapter12/domain/Point.java
  corock/src/main/java/com/cowaine/corock/chapter12/domain/Price.java
  corock/src/main/java/com/cowaine/corock/chapter13/Book.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/CorporateAccount.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/CorporationManager.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/PersonalAccount.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/PersonalAccountAuthentication.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/Profile.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/UpdateProfileUseCase.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/User.java
  corock/src/main/java/com/cowaine/corock/chapter13/auth/UserManager.java
  corock/src/main/java/com/cowaine/corock/chapter14/mystery/MoneyManager.java
  corock/src/main/java/com/cowaine/corock/chapter14/shipping/DeliveryCharge.java
  corock/src/main/java/com/cowaine/corock/chapter14/shipping/DeliveryManager.java
  corock/src/main/java/com/cowaine/corock/chapter14/shipping/Product.java
  corock/src/main/java/com/cowaine/corock/chapter14/shipping/ShoppingCart.java
  corock/src/main/java/com/cowaine/corock/chapter14/webtoon/Comic.java
  corock/src/main/java/com/cowaine/corock/chapter14/webtoon/ComicId.java
  corock/src/main/java/com/cowaine/corock/chapter14/webtoon/Customer.java
  corock/src/main/java/com/cowaine/corock/chapter14/webtoon/CustomerId.java
  corock/src/main/java/com/cowaine/corock/chapter14/webtoon/PurchasePoint.java
  corock/src/main/java/com/cowaine/corock/chapter14/webtoon/PurchasePointPayment.java
  corock/src/test/java/com/cowaine/corock/chapter14/mystery/MoneyManagerTest.java
  corock/src/test/java/com/cowaine/corock/chapter14/shipping/DeliveryChargeTest.java
Labels: chapter12, chapter13, chapter14

#125 feat: 게임 애플리케이션 starter-code 추가 (#124)
  corock/src/main/java/com/cowaine/corock/mission/game/ClientSession.java
  corock/src/main/java/com/cowaine/corock/mission/game/GameClient.java
  corock/src/main/java/com/cowaine/corock/mission/game/GameClientShell.java
  corock/src/main/java/com/cowaine/corock/mission/game/GameServer.java
  corock/src/main/java/com/cowaine/corock/mission/game/GameServerShell.java
  corock/src/main/java/com/cowaine/corock/mission/game/Receiver.java
  corock/src/main/java/com/cowaine/corock/mission/game/Sender.java
Labels: mission
